<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        <% newsestNews.forEach(function(news){ %>
          <div class="single_iteam"> <a href="<%= news.catSlug %>/<%= news.newsSlug %>"> <img src="upload/article/<%= news.url_img %>" alt="<%= news.slug %>"></a>
            <div class="slider_article">
              <h2><a class="slider_tittle" href="<%= news.catSlug %>/<%= news.newsSlug %>"><%= news.newsTitle %></a></h2>
              <p><%= news.introduction %></p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Bài viết mới nhất</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            <% newsestNews.forEach(function(news){ %>
              <li>
                <div class="media"> <a href="<%= news.catSlug %>/<%= news.newsSlug %>" class="media-left"> <img alt="<%= news.slug %>" src="upload/article/<%= news.url_img %>"> </a>
                  <div class="media-body"> <a href="<%= news.catSlug %>/<%= news.newsSlug %>" class="catg_title"> <%= news.newsTitle %></a> </div>
                </div>
              </li>
            <% }) %>
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span><%= menu[0].title %></span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
              <li>
                <figure class="bsbig_fig"> <a href="<%= news[0].data[0].catSlug %>/<%= news[0].data[0].newsSlug %>" class="featured_img"> <img alt="<%= news[0].data[0].slug %>" src="upload/article/<%= news[0].data[0].url_img %>"> <span class="overlay"></span> </a>
                  <figcaption> <a href="<%= news[0].data[0].catSlug %>/<%= news[0].data[0].newsSlug %>"><%= news[0].data[0].newsTitle %></a> </figcaption>
                  <p><%= news[0].data[0].introduction %></p>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <% news[0].data.map(function(val, i){
                if (i > 0){ %>
                <li>
                  <div class="media wow fadeInDown"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="media-left"> <img alt="<%= val.slug %>" src="upload/article/<%= val.url_img %>"> </a>
                    <div class="media-body"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="catg_title"><%= val.newsTitle %></a> </div>
                  </div>
                </li>
              <% }}) %>
            </ul>
          </div>
        </div>
        <div class="fashion_technology_area">
          <div class="fashion">
            <div class="single_post_content">
              <h2><span><%= menu[1].title %></span></h2>
              <ul class="business_catgnav wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="<%= news[1].data[0].catSlug %>/<%= news[1].data[0].newsSlug %>" class="featured_img"> <img alt="<%= news[1].data[0].slug %>" src="upload/article/<%= news[1].data[0].url_img %>"> <span class="overlay"></span> </a>
                    <figcaption> <a href="<%= news[1].data[0].catSlug %>/<%= news[1].data[0].newsSlug %>"><%= news[1].data[0].newsTitle %></a> </figcaption>
                    <p><%= news[1].data[0].introduction %></p>
                  </figure>
                </li>
              </ul>
              <ul class="spost_nav">
                <% news[1].data.map(function(val, i){
                  if (i > 0){ %>
                    <li>
                      <div class="media wow fadeInDown"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="media-left"> <img alt="<%= val.slug %>" src="upload/article/<%= val.url_img %>"> </a>
                        <div class="media-body"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="catg_title"><%= val.newsTitle %></a> </div>
                      </div>
                    </li>
                  <% }}) %>
              </ul>
            </div>
          </div>
          <div class="technology">
            <div class="single_post_content">
              <h2><span><%= menu[2].title %></span></h2>
              <ul class="business_catgnav">
                <li>
                  <figure class="bsbig_fig wow fadeInDown"> <a href="<%= news[2].data[0].catSlug %>/<%= news[2].data[0].newsSlug %>" class="featured_img"> <img alt="<%= news[2].data[0].slug %>" src="upload/article/<%= news[2].data[0].url_img %>"> <span class="overlay"></span> </a>
                    <figcaption> <a href="<%= news[2].data[0].catSlug %>/<%= news[2].data[0].newsSlug %>"><%= news[2].data[0].newsTitle %></a> </figcaption>
                    <p><%= news[2].data[0].introduction %></p>
                  </figure>
                </li>
              </ul>
              <ul class="spost_nav">
                <% news[2].data.map(function(val, i){
                  if (i > 0){ %>
                    <li>
                      <div class="media wow fadeInDown"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="media-left"> <img alt="<%= val.slug %>" src="upload/article/<%= val.url_img %>"> </a>
                        <div class="media-body"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="catg_title"><%= val.newsTitle %></a> </div>
                      </div>
                    </li>
                  <% }}) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="single_post_content">
          <h2><span><%= menu[3].title %></span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav">
              <li>
                <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="<%= news[3].data[0].catSlug %>/<%= news[3].data[0].newsSlug %>"> <img src="upload/article/<%= news[3].data[0].url_img %>" alt=""> <span class="overlay"></span> </a>
                  <figcaption> <a href="<%= news[3].data[0].catSlug %>/<%= news[3].data[0].newsSlug %>"><%= news[3].data[0].newsTitle %></a> </figcaption>
                  <p><%= news[3].data[0].introduction %></p>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              <% news[3].data.map(function(val, i){
                if (i > 0){ %>
                  <li>
                    <div class="media wow fadeInDown"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="media-left"> <img alt="<%= val.slug %>" src="upload/article/<%= val.url_img %>"> </a>
                      <div class="media-body"> <a href="<%= val.catSlug %>/<%= val.newsSlug %>" class="catg_title"><%= val.newsTitle %></a> </div>
                    </div>
                  </li>
                <% }}) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>Bài viết nổi bật</span></h2>
          <ul class="spost_nav">
            <% hotNews.forEach(function(news){ %>
              <li>
                <div class="media"> <a href="<%= news.catSlug %>/<%= news.newsSlug %>" class="media-left"> <img alt="" src="upload/article/<%= news.url_img %>"> </a>
                  <div class="media-body"> <a href="<%= news.catSlug %>/<%= news.newsSlug %>" class="catg_title"><%= news.newsTitle %></a> </div>
                </div>
              </li>
            <% }) %>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
